[Unit]
Description=godtributes
After=network.target

[Service]
ExecStart=/usr/local/bin/node /opt/godtributes/exhortationserver.js
Restart=always
User=bot
Group=bot
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/opt/godtributes
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=godtributes

[Install]
WantedBy=multi-user.target
