[Unit]
Description=godtributes
After=network.target

[Service]
ExecStart=/usr/local/bin/node /var/www/godtributes/exhortationserver.js
Restart=always
User=noderunner
Group=robots
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/var/www/godtributes
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=godtributes

[Install]
WantedBy=multi-user.target
